<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feature Requests</title>
  <link rel="stylesheet" href="/static/css/styles.css" />
  <link rel="stylesheet" href="/static/css/dragula.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
</head>
<body>

  
  <div class="container">
	
		<!-- Modal -->
		<div class="modal fade" id="reordermodal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Drag to reorder</h4>
					</div>
					<div class="modal-body">
            <ul data-bind="foreach: filtered_feature_requests" class="list-group dragula-container" id="reorder-parent">
              <li data-bind="attr: {'data-id': id, 'data-index': $index}" class="list-group-item">
                <b data-bind="text: title"></b>
                <span data-bind="text: client_priority" class="pull-right"></span>
              </li>
						</ul>
					</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button data-bind="click: reorder_priorities" type="button" class="btn btn-primary">Save changes</button>
          </div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal --> 

    <div class="row custom-margin-top">
      <div class="col-md-4" id="add_feature_request">
        <div class="panel panel-default">
          <div class="panel-body">
            <br/>
            <h2>Add a feature request</h2>
            <br/>
            <form>
              <div class="form-group">
                <label for="titleInput">Title</label>
                <input data-bind="value: title" class="form-control" id="titleInput" placeholder="Title">
              </div>
              <div class="form-group">
                <label for="descriptionInput">Description</label>
                <textarea data-bind="value: description" id="description" class="form-control" cols="50" rows="4"></textarea>
              </div>
              <div class="form-group">
                <label for="client">Client</label>
                <select data-bind="options: clients, 
                                   value: selected_client,
                                   optionsCaption: 'Select...'" id="client" class="form-control"></select>
              </div>
              <div class="form-group">
                <label for="client_priority">Client Priority</label>
                <input data-bind="value: client_priority" id="client_priority" class="form-control" type="" />
              </div>
              <div class="form-group">
                <label for="target_date">Target Date</label>
                <input data-bind="value: target_date" id="target_date" class="form-control" type="date">
              </div>
              <div class="form-group">
                <label for="product_area">Product Area</label>
                <select data-bind="options: product_areas,
                                   value: selected_product_area,
                                   optionsCaption: 'Select...'" id="product_area" class="form-control"></select>
              </div>
              <div data-bind="visible: form_success" class="alert alert-success" id="success-alert">
                <button data-bind="click: form_success_toggle" class="close">&times;</button>
                <b>Success!</b>
              </div>
              <div class="form-group">
                <button data-bind="click: save" class="btn btn-default">Submit Request</button>
              </div>
            </form>
          </div>
        </div>
      </div> <!-- end add feature request -->

      <div class="col-md-8" id="feature_request_list">
          <br/>
          <span class="pull-right">
            Key:&nbsp;&nbsp; 
            <span class="label label-warning">Client</span>
            <span class="label label-default">Product Area</span>
            <span class="label label-info">Feature Priority</span>
          </span>
          <h2>Feature Requests List</h2>
          <br/>
          <div class="form-group col-md-6">
            <form class="form-inline">
            <label>Sort By:</label>
            <select data-bind="foreach: sort_options, value: current_sort" class="form-control">
              <option data-bind="value: value, text: title"></option>
            </select>
            <select data-bind="options: sort_options_ad, value: sort_asc_desc" class="form-control">
            </select>
            </form>
          </div>
          <button data-bind="click: filter_visible_toggle, text: filter_button_text" class="btn btn-default"></button>
          <br/>&nbsp;<br/>
          <div data-bind="visible: filter_visible" class="row col-md-12">
            <div class="row col-md-12">
              <div class="col-md-3">
                <input data-bind="checked: filter_by_client_bool" type="checkbox" />&nbsp;&nbsp;By Client
              </div>
              <div class="col-md-4">
                <select data-bind="options: filter_clients, 
                                   value: filter_by_client" class="form-control"></select>
              </div>
              <div class="col-md-3">
                <button data-bind="enable: filter_by_client_bool" class="btn btn-default" data-toggle="modal" data-target="#reordermodal">Reorder Priorities</button>
              </div>
            </div>
            <div class="row col-md-12">
              <div class="col-md-3">
                <input data-bind="checked: filter_by_product_area_bool" type="checkbox" />&nbsp;&nbsp;By Product Area
              </div>
              <div class="col-md-4">
                <select data-bind="options: filter_product_areas,
                                   value: filter_by_product_area" id="product_area" class="form-control"></select>
              </div>
            </div>
          </div>
          <br/>&nbsp;<br/>
          <div data-bind="template: { foreach: filtered_feature_requests,
                                      beforeRemove: delete_feature_request,
                                      afterAdd: show_feature_request }"> <!-- begin foreach div -->
            <div> <!-- test wrapper -->
              <div class="view-wrapper"> <!-- begin feature request wrapper -->
                <hr/>
                <div class="row">
                  <div class="col-md-8">
                    <h4>
                      <button data-bind="click: $parent.edit_feature, enable: $parent.edit" class="btn btn-default">Edit</button>&nbsp;&nbsp;
                      <b data-bind="text: title">A Title, and one that is rather lengthy</b>
                    </h4>
                    <br/>
                  </div>
                  <div class="col-md-4">
                    <div class="pull-right">
                      <h4>
                      <span data-bind="text: client" class="label label-warning">Client A</span>
                      <span data-bind="text: product_area" class="label label-default">Claims</span>
                      <span data-bind="text: client_priority" class="label label-info">1</span> 
                      </h4>
                    </div>
                  </div>
                </div><!-- end row -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                        Description
                        <span class="pull-right">Target Date: <em data-bind="text: target_date">2017-05-01</em></span>
                        </h4>
                      </div>
                      <div class="panel-body">
                        <p data-bind="text: description"></p>
                      </div>
                    </div>
                  </div>
                </div><!-- end row -->
              </div> <!-- end feature request wrapper -->
              <div style="display:none;" class="edit-wrapper"> <!-- begin edit row wrapper -->
                <div class="row"> <!-- begin edit row -->
                  <div class="col-md-6">
                    <h4>
                      <button data-bind="click: $parent.delete_feature, attr: {'id': id}" class="btn btn-danger">Delete</button>&nbsp;
                      <button data-bind="click: $parent.update_feature, attr: {'id': id, 'data-index': $index}" class="btn btn-default">Save</button>&nbsp;
                      <button data-bind="click: $parent.cancel_edit" class="btn btn-default">Cancel</button><br/>&nbsp;<br/>
                      <input data-bind="value: title" class="form-control"/>
                    </h4>
                    <br/>
                  </div>
                  <div class="col-md-6">
                    <div class="pull-right">
                      <h4>
                      <select data-bind="options: $parent.clients, 
                                         value: client" id="client" class="form-control"></select>
                      <select data-bind="options: $parent.product_areas,
                                         value: product_area" id="product_area" class="form-control"></select>
                      <input data-bind="value: client_priority" class="form-control"/>
                      <input data-bind="value: target_date" id="target_date" class="form-control" type="date">
                      </h4>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                        Description
                        <div class="pull-right">
                        </div>
                        </h4>
                      </div>
                      <div class="panel-body">
                        <textarea class="form-control" cols=50 rows=6 data-bind="value: description">
                        </textarea>
                      </div>
                    </div>
                  </div>
                </div> <!-- end edit row -->
              </div> <!-- end edit row wrapper -->
            </div> <!-- end test wrapper -->
          </div><!-- end foreach parent div -->

      </div> <!-- end feature request list -->

    </div> <!-- end row -->

  </div> <!-- end container -->

  <!--<span data-bind="text: post_data()"></span>-->
  
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
  <script src="/static/js/knockout.mapping.js"></script>
  <script src="/static/js/knockout.validation.min.js"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js'></script>
  <script src="/static/js/main.js"></script>
</body>
</html>
